<h1>All Notes</h1>

<% if @notes.nil? %>
    <h3>You don't have any saved notes</h3>
    <p><a href="/notes/new">Create a new note</a></p>
<% else %>
    <% @notes.each do |note|%>
        <div><%= note.title %></div>
    <% end %>
<% end %>