<h1>Please Sign In</h1>

<form>
    <p>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
    </p>
    <p>
        <label for="password">Username:</label>
        <input type="password" id="password" name="password">
    </p>
        <p>
        <label for="email">Username:</label>
        <input type="email" id="email" name="email">
    </p>

</form>