<h1>Please create a username and password to signin</h1>
<form method="POST" action="/signup">
    <p>
        <label for="username">Username: </label>
        <input type="text" id="username" name="user[username]">
    </p>
    <p>
        <label for="password">Password: </label>
        <input type="password" id="password" name="user[password]">
    </p>

    <p>
        <label for="email">Email: </label>
        <input type="email" id="email" name="user[email]">
    </p>

    <p>
        <input type="submit" value="submit" id="submit">
    </p>
</form>
