<h1>All Categories</h1>

<% if @categories.nil? %>
    <h3>You don't have any categories</h3>
    <p><a href="/categories/new">Create a new category</a></p>
<% else %>
    <h3>Here are a list of your categories:</h3>
<ul>
    <% @categories.each do |category|%>

        <li><a href="/category/<%= category.id %>"><%= category.name %></a></li>
    <% end %>
</ul>


<% end %>

<p>
    <a href="/category/new">Create a new category</a>
</p>